<!DOCTYPE html><!-- COMPLETATA E RESPONSIVE-->
<html lang="it">
    <head>
        <title><%= errorCode %> - Errore</title>
        <%- include('partials/head'); %>
        <link href="/css/error_style.css" rel="stylesheet">
    </head>
    <body>
        <div class="background"></div>
        <div class="overlay"></div>

        <div class="page-container">
            <header class="page-header">
                <a href="/">
                    <img id="logo" class="middle-logo" src="/img/logo.png" alt="Logo">
                </a>
            </header>
            <div class="msg-box">
                <p class="form-title alert">OPS!</p>
                <% if (errorMessage.length > 50) { %>
                    <div class="error-details">
                        <p class="error-text"><%= errorMessage %></p>
                    </div><br>
                <% } else {%>
                    <p class="form-title"><%= errorMessage %></p>
                <% } %>
                <% if (errorCode === 403) { %>
                    <a class="back-home" href="/login">Accedi</a><br>
                <% }%>
                <a class="back-home" href="/">Torna alla Home</a>
            </div>
        </div>
    </body>
</html>
