<% if(type === 1) {%>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Audiodescrizione</a></li>
                    <li><a class="text-white">Rapporto con gli investitori</a></li>
                    <li><a class="text-white">Note legali</a></li>
                    <li><a class="text-white">Preferenze per la pubblicità</a></li>
                </ul>
            </div>
            <div class="col-md-3">    
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Centro di assistenza</a></li>
                    <li><a class="text-white">Opportunità di lavoro</a></li>
                    <li><a class="text-white">Preferenze per i cookie</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Carte regalo</a></li><br>
                    <li><a class="text-white">Condizioni di utilizzo</a></li>
                    <li><a class="text-white">Informazioni sull'utilizzo</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Media Center</a></li><br>
                    <li><a class="text-white">Privacy</a></li><br>
                    <li><a class="text-white">Contattaci</a></li>
                </ul>
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary dropdown-toggle footer-btn" data-toggle="dropdown">
                Codice di servizio 
            </button>
        </div>
        <div class="row">
            <div class="col-md-12 n-footer-copyright">
                <p>© 2023-2024 FlopFlix, Inc.  Progetto di Metodologie di programmazione per il web "Università Del Piemonte Orientale" </p>
            </div>
        </div>
    </div>
<%} else if(type === 2) { %>
    <div class="container">
        <div class="n-footer-signup-container">
            <div class="n-footer-signup-top n-footer-signup-color">
                <p>Domande? Chiama 800-130-364</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled n-footer-signup-link">
                        <li><a class="n-footer-signup-color">Domande frequenti</a></li><br>
                        <li><a class="n-footer-signup-color">Privacy</a></li><br>
                    </ul>
                </div>
                <div class="col-md-3">	
                    <ul class="list-unstyled n-footer-signup-link">
                        <li><a class="n-footer-signup-color">Centro assistenza</a></li><br>
                        <li><a class="n-footer-signup-color">Preferenze per i cookie</a></li><br>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled n-footer-signup-link">
                        <li><a class="n-footer-signup-color">FlopFlix Shop</a></li><br>
                        <li><a class="n-footer-signup-color">Informazioni sull'azienda</a></li><br>						
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-unstyled n-footer-signup-link">
                        <li><a class="n-footer-signup-color">Condizioni di utilizzo</a></li><br>
                        <li><a class="n-footer-signup-color">Preferenze per la pubblicità</a></li><br>
                    </ul>
                </div>
            </div>
            <div>
                <button type="button" class="btn btn-primary dropdown-toggle language-btn" data-toggle="dropdown">
                    <i class="material-icons">g_translate</i> Italiano 
                </button>
                <br><br>
            </div>
            <div class="row">
                <div class="col-md-12 n-footer-copyright">
                    <p>© 2023-2024 FlopFlix, Inc.  Progetto di Metodologie di programmazione per il web "Università Del Piemonte Orientale" </p>
                </div>
            </div>
        </div>
    </div>
<%} else if(type === 3) { %>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Domande? Chiama 800-130-364</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-footer-column">
                    <li><a class="text-white">Domande frequenti</a></li>
                    <li><a class="text-white">Preferenze per i cookie</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Centro assistenza</a></li>
                    <li><a class="text-white">Informazioni sull'azienda</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Condizioni di utilizzo</a></li>
                    <li><a class="text-white">Preferenze per la pubblicità</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-column">
                    <li><a class="text-white">Privacy</a></li>
                </ul>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary dropdown-toggle language-btn" data-toggle="dropdown">
                <i class="material-icons">g_translate</i> Italiano 
            </button>
            <div class="col-md-12 n-footer-copyright">
                <p>© 2023-2024 FlopFlix, Inc.  Progetto di Metodologie di programmazione per il web "Università Del Piemonte Orientale" </p>
            </div>
        </div>
    </div>
<% } else if (type === 4) {%>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <p>Domande? Chiama 800-130-364</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-footer-column">
                    <li><a class="text-white">Domande frequenti</a></li><br>
                    <li><a class="text-white">Rapporti con gli investitori</a></li><br>
                    <li><a class="text-white">Come guardare FlopFlix</a></li><br>
                    <li><a class="text-white">Informazioni sull'azienda</a></li><br>
                    <li><a class="text-white">Note legali</a></li>						
                </ul>
            </div>
            <div class="col-md-3">	
                <ul class="list-unstyled n-footer-footer-column">
                    <li><a class="text-white">Centro assistenza</a></li>
                    <li><a class="text-white">Opportunità di lavoro</a></li>
                    <li><a class="text-white">Condizioni di utilizzo</a></li><br>
                    <li><a class="text-white">Contattaci</a></li><br>
                    <li><a class="text-white">Solo su FlopFlix</a></li>							
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-footer-column">
                    <li><a class="text-white">Account</a></li><br>
                    <li><a class="text-white">Riscatta carte regalo</a></li><br>
                    <li><a class="text-white">Privacy</a></li><br>
                    <li><a class="text-white">Test di velocità</a></li><br>
                    <li><a class="text-white">Preferenze per la pubblicità</a></li>							
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled n-footer-footer-column">
                    <li><a class="text-white">Media Center</a></li><br>
                    <li><a class="text-white">Acquista carte regalo</a></li><br>
                    <li><a class="text-white">Preferenze per i cookie</a></li><br>
                    <li><a class="text-white">Garanzia legale</a></li><br>
                </ul>
            </div>
        </div>
        <br>
        <div>
            <button type="button" class="btn btn-primary dropdown-toggle language-btn" data-toggle="dropdown">
                <i class="material-icons">g_translate</i> Italiano 
            </button>
            <br>
        </div>
        <div class="row">
            <div class="col-md-12 n-footer-copyright">
                <p>© 2023-2024 FlopFlix, Inc.  Progetto di Metodologie di programmazione per il web "Università Del Piemonte Orientale" </p>
            </div>
        </div>
        <br>
    </div>
<% } %>