html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa !important;
    display: flex;
    flex-direction: column;
}

.account-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    background-color: #ffffff;
    border-bottom: 1px solid lightgray;
}

.signup-login {
    color: #333;
    font-size: 19px;
    font-weight: 500;
    line-height: 90px;
}

.loginHeaderLogo {
    height: 3rem;
    width: 10rem;
}

.account-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;
}

.account-box {
    border: 1.5px solid #e3e3e3;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2vh 3vh;
}

.btn-save {
    border: 1.5px solid #cfcfcf;
    background-color: transparent !important;
    border-radius: 3px;
    font-weight: bold;
}

.btn-save:hover {
    background-color: rgb(231, 231, 231) !important;
}

.btn-delete {
    border: 1.5px solid #cfcfcf;
    background-color: transparent !important;
    border-radius: 3px;
    color: #c11119;
    font-weight: bold;
}

.btn-delete:hover {
    background-color: rgb(231, 231, 231) !important;
    color: #c11119;
}

.titolo{
    color:black;
    font-weight: bold;
}

h2.sotto-titolo{
    font-size:1.125rem;
}

.sotto-titolo{
    color:#333;
    font-size:1rem;
    font-weight: bold;
}

.confirm-text {
    text-align: left;
    margin-bottom: 5px;
}

#editPasswordSection, #editEmailSection {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 15px;
    transition: height 0.25s cubic-bezier(.19,1,.22,1), opacity 0.25s cubic-bezier(.19,1,.22,1), padding 0.25s cubic-bezier(.19,1,.22,1);
    padding: 0;
}
#editPasswordSection.show, #editEmailSection.show {
    height: auto;
    opacity: 1;
    padding: 10px 0;
}

#editPasswordSection #show-password{
    position: relative;
    font-size: 20px;
    top: 1vh;
}

.back{
    color: gray;
    font-size: 1rem;
    display: flex;
}

.back:hover{
    text-decoration: none;
}

.form-row{
    display: flex;
    align-items: center;
    gap: 1vh;
    margin-bottom: 1vh;
}

.form-row label{
    margin-bottom: 0;
}

.form-control {
    border: 1.5px solid #e3e3e3;
    border-radius: 4px;
    width: auto;
    padding: 0.5rem 1rem !important;
}

.input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1vh;
}


@media (max-width: 1080px) {
    .page-header {
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    .middle-logo {
        max-width: 70%;
    }
    .msg-box {
        width: 75%;
        padding: 32px 48px;
    }
    .form-title {
        font-size: 1.8rem;
    }
    .back-home {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .page-header {
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    .middle-logo {
        max-width: 80%;
    }
    .msg-box {
        width: 85%;
        padding: 28px 40px;
    }
    .form-title {
        font-size: 1.5rem;
    }
    .back-home {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .page-header {
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .middle-logo {
        max-width: 90%;
    }
    .msg-box {
        width: 90%;
        padding: 24px 34px;
    }
    .form-title {
        font-size: 1.3rem;
    }
    .back-home {
        font-size: 0.8rem;
    }
}