.modal {
    display: none;
    user-select: none;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(.19,1,.22,1);
}

.modal.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.modal-content {
    background-color: #181818 !important;
    border-radius: 1rem !important;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.667) !important;
    transition: transform 0.3s cubic-bezier(.19,1,.22,1);
}

.modal-lg{
    max-width: 900px !important; /*sovrascrivo quello di bootstrap*/
}

.onvideo-info{
    color: white;
    top: 65%; 
    z-index: 100 !important;
}

.onvideo-info {
    top: 60%;
    left: 4%;
    z-index: 501;
    text-align: left;
}

#play-video {
    font-size: 2.3rem;
    margin-right: 8px;
}

#play-video-txt {
    font-weight: 500;
}

#fullScreenVideoOverlay{
    display: none;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    z-index: 1500;
    top: 0;
    left: 0;
}
#fullScreenVideoOverlay.show {
    display: block;
}

#controlBar {
    display: none;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: black;
    border-top: 1px solid white;
    width: 100%;
    z-index: 1501;
    top: 90%;
    left: 0;
    height: 0;
    transition: height 0.5s ease-out;
}

#controlBar.show {
    display: flex;
    height: 10%;
}

#showControlsIcon,
#exitFullScreen{
    display: none;
    cursor: pointer;
    font-size: 3em !important;
    position: absolute;
    color: white;
    z-index: 1501 !important;

}

#showControlsIcon{
    right: 50%;
    top: 95%;
}
#showControlsIcon.show {
    display: block;
}

#exitFullScreen {
    display: none;
    position: absolute;
    right: 1em;
}

#exitFullScreen.show {
    display: block;
    z-index: 1501 !important;
}

.fullScreen #exitFullScreen{
    display: block;
}

.modal-info {
    padding: 2% 10%;
}

.modal-hr {
    border: 1px solid gray;
}

.modal-row {
    display: flex;
}

.film-descr{
    line-height: 1;
}

.closeModal {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1501;
    color: white;
    font-weight: bold;
    font-size: 1.6em;
}

.closeModal:hover {
    transform: scale(1.5);
}

.control-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1em;
}

.modal-footer {
    border: none !important;
    background: linear-gradient(to top, #181818 5%, rgba(0, 0, 0, 0.9) 95%);
    width: 100%;
    border: none !important;
    border-bottom-right-radius: 1rem !important;
    border-bottom-left-radius: 1rem !important;
}

#playButton{
    cursor: pointer;
}

#playButton:disabled {
    cursor: wait;
}

#playButton.small {
    width: 10vw;
    padding: 8px 15px;
    text-align: center;
}

@media (max-width: 1080px) {
    .modal-lg{
        max-width: 600px !important; /*sovrascrivo quello di bootstrap*/
    }
    .modal-body {
        padding: 0;
    }
    .modal-onvideo {
        top: 30vh;
    }
    #play-video {
        font-size: 1.9rem;
    }
    #play-video-txt {
        font-size: 1rem !important;
    }
}

@media (max-width: 768px) {
    .embed-responsive {
        height: auto;
    }
    .modal-footer {
        padding: 1rem;
    }
    .modal-lg {
        max-width: 100% !important;
        max-height: 100% !important;
    }
    .modal-body {
        padding: 0;
    }
    .onvideo-info {
        top: 25vh;
    }
    #play-video {
        font-size: 1.5rem;
    }
    #play-video-txt {
        font-size: 0.8rem !important;
    }
}

@media (max-width: 480px) {
    .modal-lg {
        max-width: 100% !important;
        max-height: 100% !important;
    }
    .modal-body {
        padding: 0;
    }
    .onvideo-info {
        top: 15vh;
        left: 0px;
        text-align: left;
    }
    #play-video {
        font-size: 1.5rem;
    }
    #play-video-txt {
        font-size: 0.7rem !important;
    }
}

